<div id="<%= dom_id invoice %>">
  <p>
    <strong>Client:</strong>
    <%= invoice.client_id %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= invoice.payment_method %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

</div>
