<div class="invoices-container d-flex flex-column align-items-center justify-content-center">
  <p style="color: green"><%= notice %></p>

  <div class="invoices-card text-center p-5">
    <h1 class="invoices-title">Invoices</h1>
  </div>

  <div id="invoices">
    <% @invoices.each do |invoice| %>
      <%= render invoice %>
      <p>
        <%= link_to "Show this invoice", invoice %>
      </p>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "New invoice", new_invoice_path, class: 'btn btn-success mr-2 mx-4' %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-outline-secondary mx-1' %>
  </div>
</div>
