<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card text-center p-4" style="width: 800px;">
    <h1 class="display-4 text-primary">Invoices</h1>
  </div>
</div>


<div id="invoices">
  <% @invoices.each do |invoice| %>
    <%= render invoice %>
    <p>
      <%= link_to "Show this invoice", invoice %>
    </p>
  <% end %>
</div>

<%= link_to "New invoice", new_invoice_path %> |
  <%= link_to 'Back to Home', root_path %>
