<p style="color: green"><%= notice %></p>

<%= render @invoice %>

<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between mt-2">
      <%= link_to "Edit this invoice", edit_invoice_path(@invoice), class: "btn btn-primary mx-1" %>
      <%= link_to "Back to invoices", invoices_path, class: "btn btn-secondary mx-1" %>
      <%= link_to "New invoice", new_invoice_path, class: "btn btn-success mx-1" %>
      <%= link_to "PDF", invoice_path(@invoice, format: :pdf), class: "btn btn-danger mx-1" %>
  </div>
  <div class="d-flex mt-2">
    <%= button_to "Destroy this invoice", @invoice, method: :delete, class: "btn btn-outline-danger mx-1" %>
    <%= link_to 'Back to Home', root_path, class: "btn btn-outline-secondary mx-1" %>
  </div>
</div>
