<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= user.business_name %>
  </p>

  <p>
    <strong>Contact details:</strong>
    <%= user.contact_details %>
  </p>

  <p>
    <strong>Tax number:</strong>
    <%= user.tax_number %>
  </p>

  <p>
    <strong>Bank information:</strong>
    <%= user.bank_information %>
  </p>

</div>
