<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= client.id %>
  </p>

  <p>
    <strong>Contact information:</strong>
    <%= client.contact_information %>
  </p>

  <p>
    <strong>Payment methods:</strong>
    <%= client.payment_methods %>
  </p>

</div>
