<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card text-center p-4" style="width: 800px;">
    <h1 class="display-4 text-primary">Clients</h1>
  </div>
</div>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to "Show this client", client %>
    </p>
  <% end %>
</div>

<%= link_to "New client", new_client_path %> |
  <%= link_to 'Back to Home', root_path %>
