<div id="<%= dom_id accountant %>">
  <p>
    <strong>Name:</strong>
    <%= accountant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= accountant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= accountant.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= accountant.email %>
  </p>

</div>
