<div id="<%= dom_id fixed_expense %>">
  <p>
    <strong>Name:</strong>
    <%= fixed_expense.name %>
  </p>

  <p>
    <strong>Net amount:</strong>
    <%= fixed_expense.net_amount %>
  </p>

  <p>
    <strong>Vat:</strong>
    <%= fixed_expense.vat %>
  </p>

  <p>
    <strong>Gross amount:</strong>
    <%= fixed_expense.gross_amount %>
  </p>

  <p>
    <strong>Expense type:</strong>
    <%= fixed_expense.expense_type %>
  </p>

</div>
